<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">RMSDevJournal</a>

    @if (!isLoggedIn()) {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign up</a>
        </li>
      </ul>
    } @else {
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <a
            class="nav-link active"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;New Post
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            data-e2e-id="loggedin-user"
            class="nav-link"
            [routerLink]="['/profile', user().username]"
            routerLinkActive="active"
          >
            {{ user().username }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a (click)="toggleNotifications()" data-e2e-id="loggedin-user" routerLinkActive="active" class="nav-link dropdown-toggle"  id="notificationDropdown" 
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ion-android-notifications"></i> Notification
          </a>
          <div class="dropdown-menu dropdown-menu-right " id="notifList"  aria-labelledby="notificationDropdown">
            <h6 class="dropdown-header">New Article</h6>
            // received article here 
            <!-- <a class="dropdown-item" href="#">Enim illum ut similique quos...</a> -->
            <!-- <a class="dropdown-item" href="#">Voluptatum sit dolorem dolor...</a>  -->
            <div class="dropdown-divider"></div>        
            <h6 class="dropdown-header">New Tag</h6>
            // received tag here
            <div class="dropdown-divider"></div>     
            <h6 class="dropdown-header">like/unlike article</h6>
            // received like/unlike here
          </div>
        </li>
        

        <!-- <li class="nav-item" [ngClass]="{ 'open': isNotificationsOpen }" (click)="toggleNotifications()">
          <a class="nav-link" href="#" (click)="$event.preventDefault()">
            <i class="ion-notifications"></i>&nbsp;Notifications
          </a>
          <ul class="dropdown-menu" *ngIf="isNotificationsOpen">
            <li><a class="dropdown-item" href="#">Notification 1</a></li>
            <li><a class="dropdown-item" href="#">Notification 2</a></li>
            <li><a class="dropdown-item" href="#">Notification 3</a></li>
          </ul>
        </li> -->


        



      </ul>
    }
  </div>
</nav>
